{% extends 'base.html.twig' %}

{% block body %}
   <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
         <div class="row header-search">
            <div class="col-sm-8">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
               <a class="navbar-brand" href="/">Github Commentator</a>
            </div>

            <div class="col-sm-4 right">
               <div class="form-group">
                  {{ form_start(form) }}
                  {{ form_widget(form) }}
                  {{ form_end(form) }}
               </div>
            </div>
         </div>
      </div>
   </nav>

   <div class="container theme-showcase" role="main">
      <div class="container">
         <div class="jumbotron">
            <h3>Lister les repos</h3><br>
            <p>Veuillez entrer le nom d'un utilisateur de Github dans le champ de recherche ci-dessus afin d'afficher ses repos.</p>
            <p>Il vous sera ensuite possible d'ajouter des commentaires sur chacun d'entre eux.</p>
         </div>
      </div>

      {% if repos is not empty %}
         {% for repo in repos %}
            <p>
               <a href="/">{{ repo.name }}</a>
            </p>
         {% endfor %}
      {% endif %}

   </div>

{% endblock %}
